<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
	<listeners>
		<listener class-name="com.vsysq.listeners.TestNGEmailableReport2" />	
	</listeners>
  <test name="EdgeTest1">
  <parameter name="browser" value="Edge"/>
  
    <classes>
      <class name="testCases.MyFirstTest1DataDriven"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
